$navbar-default-bg: #FFFFFF;

@import "bootstrap-sprockets";
@import "bootstrap";

#logo {
  float: left;
  font-size: 1.7em;
  color: black;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;
}

#logo:hover {
  color: red;
  text-decoration: none;
}

.center {
  text-align: center;
}

.jumbotron {
  background-image: asset-url("Chalkboard.jpg");
  background-size: cover;
  height: 550px;
}

.jumbotron h1 {
  color: white;
  margin-bottom: 30px;
  letter-spacing: -1px;
  font-weight: bold;
}

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: grey;
}

footer a:hover {
  color: red;
}

footer small {
  float: left;
}

footer ul {
  float: right;
  list-style: none;
}

footer ul li {
  float: left;
  margin-left: 15px;
}

#cancel {
  margin-left: 25px;
}

.Blog h2 {
  text-align: center;
}

.article-actions {
  border-top: 1px solid #eaeaea;
  padding-top: 5px;

}

.blog-description {
  margin-top: 0;
}